{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
{% block title %}所有博客{% endblock %}
{% block page_content %}
<div class="tags">
	<ul id="navList" class="list-unstyled list-inline">
		<li><a id="allblogs" class="menu" href="{{ url_for('main.index') }}">所有博客</a></li>
		<li><a id="about" class="menu" href="{{ url_for('.user', username = 'Monte') }}">关于</a></li>
	</ul>
</div>
<div class="post-tabs">
		{% include '_posts.html' %}
</div>
<div class="pagination col-md-12 col-sm-offset-2 text-center">
	{{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endblock %}